<form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="InputNit1" class="form-label">Nit</label>
      <input type="nit" class="form-control" id="InputNit1" aria-describedby="nitHelp">
        <div *ngIf="nit.invalid && (nit.dirty || nit.touched)"
            class="text-danger">
            <div *ngIf="nit.errors?.['required']">
                El Nit es requerido.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="InputNum1" class="form-label">Num Identificacion</label>
        <input type="num" class="form-control" id="InputNum1" aria-describedby="numHelp">
          <div *ngIf="num.invalid && (num.dirty || num.touched)"
              class="text-danger">
              <div *ngIf="num.errors?.['required']">
                  El Numero de Identificacion es requerido.
              </div>
          </div>
      </div>
    <div class="mb-3">
      <label for="InputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="InputPassword1">
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger">
            <div *ngIf="password.errors?.['required']">
                El Password es requerido.
            </div>
        </div> 
    </div>
    <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesión</button>
  </form>