<footer class="jumbotron">
    <div class="text-center text-white">
      <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-8 mt-2">
              <p>                 

                  
                        No tienes usuario?&nbsp;
                        <a href="#" target="_blank" rel="noopener"> Crear usuario.
                          
                        </a>
                        <a href="#" target="_blank" rel="noopener">
                        </a>
                  
              </p>
            </div>
          </div>
      </div>
    </div>
</footer>